@if (mode == DisplayMode.Single)
{
    <ValueDisplay Value="@val" Type="@Info.Type" />
}
else
{
    <div class="d-inline-flex align-center gap-1" style="height: 32px; vertical-align: middle;">
        @if (mode == DisplayMode.Error)
        {
            <MudText Typo="Typo.caption" Class="font-italic" Color="Color.Error">(format error)</MudText>
        }
        else if (mode == DisplayMode.NotSet)
        {
            <MudText Typo="Typo.caption" Class="font-italic" Color="Color.Default">(empty)</MudText>
        }
        else if (val is List<object> items)
        {
            @foreach (object item in items)
            {
                <MudPaper Class="d-flex align-center justify-center px-2 py-1 flex-shrink-0" Elevation="0" Outlined="true" Style="background-color: var(--mud-palette-background-grey); height: 100%;">
                    <ValueDisplay Value="@item" Type="@Info.Type" />
                </MudPaper>
            }
        }
    </div>
}

@code {
    [Parameter, EditorRequired] public object? Value { get; set; }
    [Parameter, EditorRequired] public FieldInfo Info { get; set; }

    public struct FieldInfo
    {
        public DataType Type { get; set; }
        public bool IsList { get; set; }
    }

    private enum DisplayMode { NotSet, Single, Array, Error }

    private DisplayMode mode;
    private object? val;

    protected override void OnParametersSet()
    {
        mode = DisplayMode.NotSet;
        val = null;

        if (Value is not JsonElement element || element.ValueKind == JsonValueKind.Null) return;

        try
        {
            if (Info.IsList)
                if (element.ValueKind == JsonValueKind.Array)
                {
                    mode = DisplayMode.Array;
                    List<object> list = [];
                    foreach (JsonElement item in element.EnumerateArray())
                        list.Add(ParseElement(item, Info.Type));
                    val = list;
                }
                else mode = DisplayMode.Error;
            else
            {
                mode = DisplayMode.Single;
                val = ParseElement(element, Info.Type);
            }
        }
        catch
        {
            mode = DisplayMode.Error;
        }
    }

    private object ParseElement(JsonElement element, DataType type)
    {
        return type switch
        {
            DataType.Number => element.GetRawText(),
            DataType.Date => element.ValueKind == JsonValueKind.String && DateTime.TryParse(element.GetString(), CultureInfo.InvariantCulture, DateTimeStyles.AssumeUniversal, out DateTime dt) ? dt : element.GetDateTime(),
            DataType.Boolean => element.ValueKind == JsonValueKind.True,
            DataType.EntityReference => (element.ValueKind == JsonValueKind.String && Guid.TryParse(element.GetString(), out Guid g)) ? g : throw new FormatException(),
            _ => element.ToString()
        };
    }
}