@inject IEntityDefinitionService EDS
@inject IEntityInstanceService EIS

@if (loading)
{
    <span class="mud-typography-body2">...</span>
}
else if (error != null)
{
    <span class="mud-typography-body2 mud-error-text">@error</span>
}
else if (refInstance != null)
{
    @if (CurrentDepth > 0)
    {
        <span class="mud-typography-body2">
            (Entity: @name)
        </span>
    }
    else
    {
        <span class="mud-typography-body2">
            (
            @foreach ((KeyValuePair<string, object?> kvp, int index) in refInstance.Data.Select((value, i) => (value, i)))
            {
                <strong>@kvp.Key: </strong>
                <FieldValueDisplay Value="@kvp.Value" Depth="@(CurrentDepth + 1)" />
                if (index < refInstance.Data.Count - 1)
                {
                    <text>, </text>
                }
            }
            )
        </span>
    }
}

@code {
    [Parameter, EditorRequired] public Guid InstanceId { get; set; }
    [Parameter] public int CurrentDepth { get; set; }

    private bool loading = true;
    private EntityInstance? refInstance;
    private string name = string.Empty;
    private string? error;

    protected override async Task OnParametersSetAsync()
    {
        loading = true;
        error = null;
        refInstance = null;
        Result<EntityInstance> result = await EIS.GetInstanceAsync(InstanceId);
        if (result.IsSuccess)
        {
            refInstance = result.Value;
            name = (await EDS.GetEntityDefinitionAsync(refInstance.EntityDefinitionId)).Value?.Name ?? "Unknown";
        }
        else
            error = $"({(result.StatusCode != System.Net.HttpStatusCode.NotFound && result.Exception != null ? result.Exception.Message: "Instance not found")}{InstanceId.ToString().Substring(0, 8)}...)";

        loading = false;
    }
}