@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    Logged in as @context.User.Identity?.Name. <a href="/logout"><span class="bi bi-door-closed-fill" aria-hidden="true" style="vertical-align:middle" /> Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="Account/Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
